.barra-logo {
    position: relative;
    top: 35px;
    left: 78px;
    height: 97px;
    transition: all .5s;
}

.barra-logo:hover {
    scale: 1.05;
}

nav{
    height: 83px;
    background-color: #ffffff;
}

.barra-nav2{
    padding-left: 45px;
}

.ul1 {
    position: relative;
    display: flex;
    width: 35%;
    height: 30px;
    left: 406px;
    top: -41px;
    list-style: none;
    background-color: #ffffff;
    padding: 0 0 0 80px;
}

h1{
    color: #303030;
    font-size: 18px;
    font-weight: 700;
}

a {
    text-decoration: none;
    text-align: center;
    display: block;
    color: #949494;
    font-size: 14.5px;
    font-weight: 500;
    transition: all .3s;
}

.ini:hover, .ini:active {
    color: black;
    scale: 1.02;
}

.nos:hover, .nos:active {
    color: black;
    scale: 1.02;
}

.tes:hover, .tes:active {
    color: black;
    scale: 1.02;
}

.iniciasesion {
    position: relative;
    left: 865px;
    top: -80px;
    border-radius: 10px;
    width: 11.5%;
    height: 47%;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #6C63FF;
    background-color: white;
    font-weight: 500;
    border-color: #6C63FF;
    border-style: solid;
    transition: all .3s;
}

.iniciasesion:hover {
    background-color: white;
    color: #6C63FF;
    scale: 1.05;
    cursor: pointer;
}

.registrate {
    position: relative;
    left: 880px;
    top: -80px;
    border-radius: 10px;
    width: 11.5%;
    height: 47%;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: white;
    background-color: #6C63FF;
    font-weight: 500;
    border-color: #6C63FF;
    border-style: solid;
    transition: all .3s;
}

.registrate:hover {
    background-color: #6C63FF;
    border-color: #6C63FF;
    color: white;
    cursor: pointer;
    scale: 1.05;
}
